


body
{
background: linear-gradient(240deg,rgba(190, 0, 0, 0.884), rgb(79, 192, 154));
background-size: 300% 400%;
}

body{
    animation: loop 10s ease infinite;
}

@keyframes loop{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 0%;}
    100%{background-position: 0% 50%;}
}



